a {
	font-size: 15pt;
	color: #f05d23;
}

.container {
	background-color: rgb(19,19,19);
	box-shadow: 2px 3px 15px 3px black;
}

th, td, h1, h2, h3, h4, h5{
	color: white;
	 text-shadow: 0 0 3px #FF3300, 0 0 5px #FF3300;
}