<!-- shopping cart -->
<div class="p-2">
  <div class="container my-5 pt-4 rounded">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <th class="text-right">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td class="col-sm-8 col-md-6">
                <div class="media">
                  <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{item.img}}" style="width: 72px; height: 72px;"></a>
                  <div class="media-body">
                    <h4 class="media-heading ml-2">{{item.title}}</h4>
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1 text-right"><strong>{{item.price | currency:'EUR'}}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <h3><strong>Total</strong></h3>
              </td>
              <td class="text-right">
                <h3><strong>{{total | currency:'EUR'}}</strong></h3>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a class="btn btn-transparent btn-lg btn-outline-light third-flicker float-right" role="button">Checkout</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
