body{
	// background-image: linear-gradient(to right top, #000000, #180b0d, #261313, #341815, #421f15, #4c2515, #562c14, #5f3412, #683c12, #714411, #794c0f, #81550d);
	background-image: url(assets/img/test.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
html{
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, a {
	font-family: 'Henny Penny', cursive;
}

p {
	font-family: 'Caudex';
}
