
<!-- Created a simple footer. Since we don't have that many more links, we felt it was a bit unnecessary to have a large footer. So here we decided to just put social media. We used npm i@fortawesome/angular-fontawesome -->
<div class="footer">
  <div class="footerSocialMedia">
    <ul>
      <li><a href="https://www.facebook.com/">
          <fa-icon id="smFacebook" [icon]="iconFacebook" size="3x"></fa-icon>
        </a></li>
      <li><a href="https://twitter.com/?lang=en">
          <fa-icon id="smTwitter" [icon]="iconTwitter" size="3x"></fa-icon>
        </a></li>
      <li><a href="https://www.youtube.com/">
          <fa-icon id="smYoutube" [icon]="iconYoutube" size="3x"></fa-icon>
        </a></li>
      <li><a href="https://www.instagram.com/">
          <fa-icon id="smInstagram" [icon]="filmInstagram" size="3x"></fa-icon>
        </a></li>
    </ul>
  </div>
  <div class="text-center text-light py-3">© 2020 Copyright:
    <a class="" href="#"> Hells Kitchen</a>
  </div>
</div>
