// Styling for the individual page. We incorporated shadowing and different color fonts
a{
    font-size: 15pt;
    color: #f05d23;
}
#h2{
    font-size: 2rem;
    color: #f05d23;
    text-shadow: 0 0 2px  #FF3300, 0 0 3px  #FF3300;
}

a:hover {
	color: white;
}

#info {
    background-color: rgb(19, 19, 19);
    box-shadow: 2px 3px 15px 3px black;
}

p{
    text-shadow: 0 0 3px #FF3300, 0 0 5px #FF3300;
}

.shake:hover{
    animation: shake 3s;
}
@keyframes shake {
    10% { transform: translate(5px, -3px) rotate(2deg); }
    25% { transform: translate(-5px, 3px) rotate(-1deg); }
    50% { transform: translate(5px, -3px) rotate(1deg); }
    75% { transform: translate(-5px, 3px) rotate(-2deg); }
    100% { transform: translate(0px, -1px) rotate(0deg); }
  }