.bottom-text{
    position: absolute;
    bottom: 4%;
    left: 35%;
}
a, p, h5, h4 {
	font-size: 17pt;
    color: #f05d23;
    
}

.card {
    background-color: rgb(19,19,19);
    box-shadow: 2px 3px 15px 3px black;

}

p, h2 {
	text-shadow: 0 0 2px  #FF3300, 0 0 3px  #FF3300;
}
h5, h4{
    color: white;
     text-shadow: 0 0 3px #FF3300, 0 0 5px #FF3300;
}
img{
    object-position: top;
    object-fit: cover;
    height: 20rem;
}
.shake:hover{
    animation: shake 3s;
}
@keyframes shake {
    10% { transform: translate(5px, -3px) rotate(2deg); }
    25% { transform: translate(-5px, 3px) rotate(-1deg); }
    50% { transform: translate(5px, -3px) rotate(1deg); }
    75% { transform: translate(-5px, 3px) rotate(-2deg); }
    100% { transform: translate(0px, -1px) rotate(0deg); }
  }