<!-- testimonials page. We used some copyright images so we can't pubulish this outside of the course -->
<div class="container mt-5">
  <div class="row m-auto justify-content-center align-content-center">
    <h2 class="pb-3 col-12 text-center text-light justify-content-center">Experience what others already have</h2>
    <div class=" row card col-sm-12 col-md-5 shake col-lg-3 m-2 mb-lg-5 mx-4 text-light" *ngFor="let person of array" id="info">
      <img class="card-img-top mt-2 mx-auto" src="{{person.pic}}" alt="{{person.name}}">
      <div class="card-body text-center">
        <h5 class="card-title">{{person.name}}</h5>
        <p class="card-text"><i>"{{person.message}}"</i></p>
        <div class="pt-4">
          <h4 class="card-text text-center bottom-text">{{person.rating}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="container col-lg-4 text-center text-muted">note: all images and characters are here only for the duration of this course, and they will be deleted/changed if the project makes it to a live web</p>
