<!-- Meet the chef page -->
<div class="p-2">
  <div class="container text-light my-5 p-4 w-lg-50" id="chef">
    <div class="row m-auto justify-content-center align-content-center">
      <div class="col-12 text-left text-light justify-content-center">
        <h2 class="display-4 pt-4 text-center">Meet the chef</h2>
        <h3 class="display-5 text-center">Jaques N. Osfératu</h3>
        <p class="pt-1 text-wrap col-12">Jaques N. Osfératu has been cooking for the masses for many years. His experience is unmatched when it comes to cooking for any type of creature, humans included. He introduces all cuisines from around the world to satisfy any palette.
          You will walk away with skills you never imagined. Jaques goal is to teach you how to master your skills
          <img class="img-fluid w-50 float-right p-lg-3 p-1" src="/assets/img/chef4.jpg" alt=""> so that you can go home and impress your friends. Jaques has worked in the top restaurants around the world catering to the very best of the monster
          and human world. His cannibalistic ways lends to his expertise. No monster can resist his cooking.</p>
      </div>
    </div>
  </div>
</div>
