<!-- News page -->
<h2 class="pb-3 mt-5 text-center text-light justify-content-center">News</h2>
<div class="container marketing mt-4 mb-4">
  <div class="row m-auto justify-content-center">
    <div class="card col-sm-12 col-md-5 col-lg-3 m-2 mb-lg-5 mx-4 text-light" id="info">
      <img src=" ../../assets/img/news1.jpg" alt="Test " class="rounded-circle mt-3 mx-auto" width="140 " height="140 " id="news">
      <h3 class="mt-3 text-center">Full Moon Celebration</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic nesciunt aut eaque quasi harum quas facere quae officia itaque. Nulla a natus libero facere obcaecati animi mollitia? Odit, magnam.</p>
    </div>
    <div class="card col-sm-12 col-md-5 col-lg-3 m-2 mb-lg-5 mx-4 text-light" id="info">
      <img src="../../assets/img/news2.png" alt="Test " class="rounded-circle mt-3 mx-auto" width="140 " height="140 " id="news">
      <h3 class="mt-3 text-center ">The Witching Hour</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic nesciunt aut eaque quasi harum quas facere quae officia itaque. Nulla a natus libero facere obcaecati animi mollitia? Odit, magnam.</p>
    </div>
    <div class="card col-sm-12 col-md-5 col-lg-3 m-2 mb-lg-5 mx-4 text-light" id="info">
      <img src="../../assets/img/news3.jpg" alt="Test " class="rounded-circle mt-3 mx-auto" width="140 " height="140" id=" news">
      <h3 class="mt-3 text-center">Howling at the Moon</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic nesciunt aut eaque quasi harum quas facere quae officia itaque. Nulla a natus libero facere obcaecati animi mollitia? Odit, magnam.</p>
    </div>
    <div class="row">
      <div class="col-lg-7 mt-5 rounded" id="info">
        <h3 class="featurette-heading mt-5 text-light">Potions incorporated into cooking</h3>
        <p class="lead text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga minus error, expedita reprehenderit atque facere nulla nobis laudantium maiores dolores architecto sapiente a fugit. Quaerat eum repellendus nulla fuga.</p>
      </div>
      <img src="../../assets/img/news4.jpg" alt="Test " class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid col-lg-5 mt-5 p-0 pl-2" width="500" height="500" id="img">
    </div>
    <div class="row">
      <img src="../../assets/img/news5.jpg" alt="Test " class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid col-lg-5 mt-5 p-0 pr-2" width="500" height="500" id="img">
      <div class="col-lg-7 mt-5 rounded" id="info">
        <h3 class="featurette-heading mt-5 text-light">Hauting with friends? New way to host parties</h3>
        <p class="lead text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga minus error, expedita reprehenderit atque facere nulla nobis laudantium maiores dolores architecto sapiente a fugit. Quaerat eum repellendus nulla fuga.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mt-5 rounded" id="info">
        <h3 class="featurette-heading mt-5 text-light">Bad neighbors? New ways to gift them something deadly</h3>
        <p class="lead text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga minus error, expedita reprehenderit atque facere nulla nobis laudantium maiores dolores architecto sapiente a fugit. Quaerat eum repellendus nulla fuga.</p>
      </div>
      <img src="../../assets/img/news6.jpg" alt="Test " class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto col-lg-5 mt-5 p-0 pl-2" width="500 " height="500 " id="img">
    </div>
  </div>
</div>
